.nova-reserva-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nova-reserva-container .content {
    width: 100%;
    padding: 96px;
    background: #F0F0F5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nova-reserva-container .content section {
    width: 100%;
    max-width: 380px;
}

.nova-reserva-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.nova-reserva-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.nova-reserva-container .content form {
    width: 100%;
    max-width: 450px;
}

.nova-reserva-container .content form input {
    margin-top: 2px;
}


.nova-reserva-container .content form .input-pagamento {
    position: relative;
}

.select-block + .select-block {
    margin-top: 1.4rem;
}

.nova-reserva-container .content form .input-pagamento label {
    font-size: 1.4rem;
}
/* 
.nova-reserva-container .content form .input-pagamento select {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.nova-reserva-container .content form .input-pagamento select:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: '';
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
} */